<h1>Room details</h1>

<h3>Name: {{name}}</h3>
<p>Owner: {{owner.fullName}}</p>
<p>Description: {{description}}</p>

<img src="{{imageUrl}}" alt="" />

<a href="/rooms/{{_id}}/edit" type="button" class="btn btn-sm btn-outline-dark">Edit room</a>
<form action="/rooms/{{_id}}/delete" method="POST">
                <button class="btn btn-sm btn-outline-dark">Delete</button>
              </form>
<a href="/rooms">Go back</a>